<h2>Create new Contact</h2>
<form [formGroup]="content" (ngSubmit)="submit()">
  <table border="1px solid black">
    <tr>
      <td>Name</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" formControlName="email"></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><input type="text" formControlName="address"></td>
    </tr>
    <tr>
      <td><input type="submit" value="Create"></td>
    </tr>
  </table>
</form>
