<div class="container">
  <div class="row">
    <div class="col-3 mt-4">
      <button mdbBtn mdbWavesEffect gradient="aqua">Create new Facility</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mt-4" *ngFor="let fac of facilities">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img [src]="fac.image" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <div class="row d-flex flex-column">
            <div class="text-center">
              <!--Title-->
              <mdb-card-title>
                <h4 class="cyan-text">{{fac.name}}</h4>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text>Room standard : {{fac.standardRoom}}</mdb-card-text>
              <mdb-card-text>Area : {{fac.area}}</mdb-card-text>
            </div>

            <a mdbBtn gradient="blue" mdbWavesEffect>Edit</a>
          </div>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
  </div>

  <!--Pagination-->
  <div class="container">
    <div class="row " style="display: flex;justify-content: center">
      <nav class="mt-5" aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
