<div class="container">
  <div class="row">
    <div class="col-3 mt-4">
      <button [routerLink]="['/services-create']" mdbBtn mdbWavesEffect gradient="aqua">Create new Facility</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mt-4" *ngFor="let fac of services">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img [src]="fac.image" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <div class="row d-flex flex-column">
            <div class="text-center">
              <!--Title-->
              <mdb-card-title>
                <h4 class="cyan-text">{{fac.name}}</h4>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text>Room standard : {{fac.standardRoom}}</mdb-card-text>
              <mdb-card-text>Area : {{fac.area}} m<sup>2</sup></mdb-card-text>
              <mdb-card-text *ngIf="fac.poolArea">Pool : {{fac.poolArea}} m<sup>2</sup></mdb-card-text>
              <mdb-card-text *ngIf="!fac.poolArea"><del class="deep-orange-text">Pool</del></mdb-card-text>
            </div>
            <div class="row d-flex flex-center">
              <a class="col-5 text-center" [routerLink]="['/services-edit',fac.id]" mdbBtn gradient="blue" mdbWavesEffect>Edit</a>
              <button type="button" mdbBtn gradient="purple" class="relative waves-light col-5"
                      (click)="basicModal.show() ; getInforDelete(fac.id,fac.name)" mdbWavesEffect>Delete
              </button>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
  </div>

  <!--Pagination-->
  <div class="container">
    <div class="row " style="display: flex;justify-content: center">
      <nav class="mt-5" aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="previous()" >Previous</a>
          </li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{page + 1}}</span>
          </li>
          <li class="page-item">
            <a class="page-link" >{{totalPages}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="next()" >Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!--delete modal-->

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Delete this Customer ?</h4>
      </div>
      <div class="modal-body">
        <p class="deep-orange-text">{{nameDelete}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                (click)="basicModal.hide()" mdbWavesEffect>Close
        </button>
        <button (click)="deleteService(basicModal)" type="button" mdbBtn color="primary" class="relative waves-light"
                mdbWavesEffect>Delete
        </button>
      </div>
    </div>
  </div>
</div>
