<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <form method="post">
        <div class="modal-header" id="typeId">
          <h4 class="text-primary">Create new Service</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Service Code</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>Service Name</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>Area</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
            <br>
          </div>
          <div class="form-group">
            <label>Max People</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group" id="roomStandard">
            <label>Room Standard</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>Other Convenience</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group" id="poolArea">
            <label>Pool Area</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>Floor</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>Service Type</label>
            <select class="form-select" aria-label="Default select example">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <br>
          </div>
          <div class="form-group">
            <label>Rent Type</label>
            <select class="form-select" aria-label="Default select example">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-dark">Cancel</a>
          <input type="submit" class="btn btn-info text-light" value="Create">
        </div>
      </form>
    </div>
  </div>
</div>
