<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <form method="post">
        <div class="modal-header">
          <h4 class="text-primary">Create new Contract</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Start Day</label>
            <input type="date" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>End Day</label>
            <input type="date" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>Deposit</label>
            <input type="text" class="form-control">
            <p class="form-helper text-danger"></p>
          </div>
          <div class="form-group">
            <label>Customer</label>
            <select class="form-select" aria-label="Default select example">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <br>
          </div>
          <div class="form-group">
            <label>Employee</label>
            <select class="form-select" aria-label="Default select example">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <br>
          </div>
          <div class="form-group">
            <label>Service</label>
            <select class="form-select" aria-label="Default select example">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <a href="/home" class="btn btn-dark">Cancel</a>
          <input type="submit" class="btn btn-info text-light" value="Create">
        </div>
      </form>
    </div>
  </div>
</div>
