<header>
  <!-- Background image -->
  <div class="p-5 text-center bg-image"
       style="
      background-image: url('https://www.iucn.org/sites/dev/files/content/images/2020/shutterstock_1458128810.jpg');
      background-size: cover;
      height: 200px;
      margin-top: 25px;
      display: flex;
      justify-content: center;
    "
  >
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">FURAMA RESORT</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
