<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="text-primary">List Contract</h1>
  </div>
  <div>
    <div class="col-3" style="display: flex; justify-content: flex-start; flex-direction: column">
      <button [routerLink]="['/contract-create']" color="cyan" rounded="true" mdbBtn mdbWavesEffect>Create New
        Contract
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <table mdbTable hover="true" striped="true">
      <thead class="black white-text">
      <tr>
        <th>No.</th>
        <th>Start Day</th>
        <th>End Day</th>
        <th>Customer Name</th>
        <th>Service</th>
        <th>Deposit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contract of contracts |paginate : {
      id:'paginate',currentPage:page,totalItems:contracts.length,itemsPerPage:1
      }; index as i">
        <td>{{i + 1}}</td>
        <td>{{contract.startDate}}</td>
        <td>{{contract.endDate}}</td>
        <td>{{contract.customer.name}}</td>
        <td>{{contract.service.name}}</td>
        <td>{{contract.deposit}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row d-flex flex-center mt-2">
    <pagination-controls id="paginate" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
