<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand white-text">PRODUCT MANAGEMENT ||</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light yellow-text" [routerLink]="['/product/list']" mdbWavesEffect>PRODUCT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light yellow-text" [routerLink]="['/category/list']" mdbWavesEffect>CATEGORY</a>
      </li>

    </ul>


    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<router-outlet></router-outlet>
