<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <form [formGroup]="productForm" (ngSubmit)="editProduct()">
        <div class="modal-header">
          <h4 class="blue-text">Edit Product</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="price">
          </div>

          <div class="form-group">
            <label>Category</label>
            <select [compareWith]="compare" class="browser-default custom-select" aria-label=".form-select-lg example" formControlName="category">
              <option *ngFor="let cate of categories" [ngValue]="cate">{{cate.name}}</option>
            </select>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <a [routerLink]="['/product-list']" mdbBtn mdbWavesEffect gradient="purple" rounded="true">Cancel</a>
          <button [disabled]="!productForm.valid" type="submit" mdbBtn mdbWavesEffect gradient="blue" rounded="true"
                  value="Create">Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
