<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h3 class="alert alert-danger" *ngIf="message!=''">{{message}}</h3>
      <form [formGroup]="productForm" (ngSubmit)="createProduct(basicModal)">
        <div class="modal-header">
          <h4 class="text-center text-primary">Create new Product</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label><strong>Name</strong></label>
            <input id="name" type="text" class="form-control" formControlName="name">
          <div *ngIf="!name.valid && (name.touched || name.dirty)">
            <p *ngIf="name.errors?.required" class="alert alert-danger">Required .</p>
            <p *ngIf="name.errors?.pattern" class="alert alert-danger">Must be letters and numbers .</p>
          </div>
            <div *ngIf="name.valid">
              <p class="alert alert-success">Valid !</p>
            </div>

          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="price">
            <div *ngIf="!price.valid && (price.touched || price.dirty)">
              <p *ngIf="price.errors?.required" class="alert alert-danger">Required .</p>
              <p *ngIf="price.errors?.pattern" class="alert alert-danger">Must be numbers and > 0 .</p>
            </div>
            <div *ngIf="price.valid">
              <p class="alert alert-success">Valid !</p>
            </div>
          </div>

            <div class="form-group">
              <label>Start Day</label>
              <input (change)="validateDateBefore()" type="date" class="form-control" formControlName="startDate">
              <div *ngIf="!startDate.valid && (startDate.touched || startDate.dirty)">
                <p *ngIf="startDate.errors?.required" class="alert alert-danger">Required .</p>
                <p *ngIf="price.errors?.pattern" class="alert alert-danger">Invalid date > 0 .</p>
              </div>
              <div *ngIf="startDate.valid">
                <p class="alert alert-success">Valid !</p>
              </div>
            </div>

            <div class="form-group">
              <label>End Day</label>
              <input (change)="validateDateBefore()" type="date" class="form-control" formControlName="endDate">
              <div *ngIf="!endDate.valid && (endDate.touched || endDate.dirty)">
                <p *ngIf="endDate.errors?.required" class="alert alert-danger">Required .</p>
                <p *ngIf="endDate.errors?.pattern" class="alert alert-danger">Invalid date > 0 .</p>
                <p *ngIf="endDate.errors?.dateBefore" class="alert alert-danger">Start Day must < End Day .</p>
              </div>
              <div *ngIf="endDate.valid">
                <p class="alert alert-success">Valid !</p>
              </div>
            </div>
            <div class="form-group">
              <label>Category</label>
              <select class="browser-default custom-select" aria-label="Default select example"
                      formControlName="category">
                <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
              </select>
              <br>
            </div>
          </div>
          <div class="modal-footer">
            <a [routerLink]="['/product/list']" mdbBtn mdbWavesEffect rounded="true" gradient="purple" type="button">Cancel</a>
            <button rounded="true" mdbBtn mdbWavesEffect gradient="blue" [disabled]="!productForm.valid" type="submit">
              Create
            </button>
          </div>
      </form>
    </div>
  </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 deep-orange-text" id="myModalLabel">NOTIFICAITON !</h4>
      </div>
      <div class="modal-body">
        <h5>Create Success !</h5>
      </div>
      <div class="modal-footer">
        <button [routerLink]="['/product']" type="button" mdbBtn color="cyan" class="relative waves-light" mdbWavesEffect>OK</button>
      </div>
    </div>
  </div>
</div>
